<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>TextExtractor <small>Angular "Tesseract" Demo</small></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="fileUploadForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="file">Caricare il file immagine da analizzare</label>
          <input
            formControlName="file"
            id="file"
            accept="image/*"
            type="file"
            class="form-control"
            (change)="onFileChange($event)"
          />
          <div
            *ngIf="
              getFileUploadFormControls.file.touched &&
              getFileUploadFormControls.file.invalid
            "
            class="alert alert-danger"
          >
            <div
              *ngIf="
                getFileUploadFormControls.file.errors &&
                getFileUploadFormControls.file.errors.required
              "
            >
              Caricare un file valido.
            </div>
          </div>
        </div>
        <div class="row">
          <label for="language">Selezionare la lingua</label>
          <div class="col-md-4">
            <select
              #language
              (change)="onSelectedLanguage(language.value)"
              class="btn btn-primary"
            >
              <option value="ita">Italiano</option>
              <option value="eng">Inglese</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <button
              [disabled]="!fileUploadForm.valid"
              class="btn btn-primary"
              type="submit"
            >
              Estrai Testo
            </button>
          </div>
        </div>
      </form>
      <div class="card">
        <h5 class="card-header">
          Estrazione
          <button class="btn btn-danger" (click)="reset()">Reset</button>
        </h5>
        <div class="card-body">
          <p *ngIf="extractedText != ''" class="card-text">Fine</p>
          <p
            *ngIf="extractedTextProgress != ''"
            class="card-text"
            style="color: red"
          >
            {{ extractedTextProgress }}...
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <img [src]="imageFilePath" *ngIf="imageFilePath" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <h5 class="card-header">
          Testo estratto
          <button
            class="btn btn-primary"
            type="button"
            ngxClipboard
            [cbContent]="extractedText"
          >
            Copia
          </button>
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <pre *ngIf="extractedText != ''" class="card-text">
           {{ extractedText }}
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
